*,
*::after,
*::before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: 'Abril Fatface', sans-serif;
  background-color: #f2f2f2;
	color: #414343;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

h1 {
	font-weight: 100;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 7vw;
}
h1 > span {
	font-size: 3.5vw;
	color: #414343;
}

.content {
	width: 90%;
	margin: 0 auto;
	min-height: 100vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.display-link:first-of-type {
  margin-top: 0;
}
.display-link {
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 auto;
	margin-bottom: 5.5vw;
	transition: .5s ease color;
}
.display-link h2 {
	font-size: 6.0vw;
}
.display-link:hover {
  cursor: pointer;
	color: #fff;
}
.link--centered {
  font-weight: 100;
  margin: 0 auto;
  justify-content: center;
}

 .slide:not(.slide--current) {
	pointer-events: none;
	opacity: 0;
}

@media (min-width:900px) {
	h1 {
		font-size: 3.5rem;
	}
	h1 > span {
		font-size: 1.5rem;
	}
	.display-link {
		margin-bottom: 30px;
	}
	.content {
		width: 70%;
		margin: 0 auto;
	}

	.display-link h2 {
		font-size: 3.0rem;
	}
}

@media (min-width:1200px) {
	.content {
		width: 60%;
	}
	.display-link h2 {
		font-size: 3.0rem;
	}
}
